.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  padding: 40px;
}

.day {
  background: rgba(17, 24, 39, 0.85);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  border: 1px solid #1f2937;
  transition: 0.3s;
}

.day:hover {
  border-color: #3b82f6;
  box-shadow: 0 0 10px #1d4ed8;
}